<div>
  {{#if this.books.data}}
    <ul>
      {{#each this.books.data as |book|}}
        <li>
          <strong>{{book.title}}</strong>
          <br> by <em>{{book.author}}</em>
        </li>
      {{/each}}
    </ul>
    <div>
      {{#each this.links.pages as |link index|}}
        <PageLink @title="page {{add index 1}}" @link={{link}} @text="{{add index 1}}" @action={{this.updatePage}} />
        {{#if (mod index 10)}}
          <br>
        {{/if}}
      {{/each}}
    </div>
  {{else}}
    <p>No books found</p>
  {{/if}}
</div>